html, body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 5px 10px;
  padding: 35px;
  background-color: #d1d8be;
}

.active, .collapsible:hover {
  background-color: #555;
}

a.zipcode_search{
    background: url("//postit.lt/example/1/img/search_ico.png") right center no-repeat;
    display: inline-block;
    height: 30px;
    line-height: 35px;
    padding-right: 35px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.collapsible {
  margin-top:5px;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
  padding-left: 25px;
  padding-right: 5px;
}

.footer,
.push {
  text-align: center;
  padding: 15px;
  height: 50px;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form-top {
  margin-top: 18px;
}

.table-sides {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
}

.loading a.zipcode_search{
    background-image: url("//postit.lt/example/1/img/loading32.gif");
}
